[submodule "external/F5Android"]
	path = external/F5Android
	url = https://github.com/guardianproject/F5Android.git
[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
